@font-face {
    font-family: "Class Sans";
    src: url("../res/font/Class Sans.ttf");
}

@font-face {
    font-family: "Great Vibes";
    src: url("../res/font/Great Vibes.ttf");
}

@font-face {
    font-family: "Arial";
    src: url("../res/font/Arial.ttf");
}

@font-face {
    font-family: "Google Sans";
    src: url("../res/font/Google Sans L.ttf");
}

@font-face {
    font-family: "Google Sans R";
    src: url("../res/font/Google Sans R.ttf");
}

@font-face {
    font-family: "Google Sans T";
    src: url("../res/font/Google Sans T.ttf");
}

@font-face {
    font-family: "Segoe UI Variable Text";
    src: url("../res/font/Segoe UI Variable Text.ttf");
}

@font-face {
    font-family: "Segoe UI Variable Display";
    src: url("../res/font/Segoe UI Variable Display.ttf");
}

@font-face {
    font-family: "Segoe UI";
    src: url("../res/font/Segoe UI.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../res/font/Roboto.ttf");
}

$font_family: "Class Sans",
"Arial",
"Roboto",
"Segoe UI Variable Text",
"Segoe UI Variable Display",
"Segoe UI";