// Owner : Bitta Boibhob | Tue, 9:10 am, 16 Aug 2022
// 
@use "./font_family" as *;
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: $font_family;
    // font-size: 0.875rem;
    font-size: 0.9375rem;
    // letter-spacing: 0.4px;
    cursor: context-menu;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    cursor: context-menu;
}

ol,
ul,
li {
    list-style: none;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    cursor: context-menu;
}

blockquote,
q {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    quotes: none;
    cursor: context-menu;
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

button,
input,
select,
textarea {
    background-color: transparent;
    outline: none;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
}

textarea {
    line-height: 1.5;
}

button {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

table,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: inherit;
    cursor: context-menu;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    tr,
    th,
    td {
        // Note : padding value can't be set as table is used to making form.
        text-align: left;
        vertical-align: middle;
        cursor: context-menu;
        font-size: inherit;
        letter-spacing: inherit;
    }
}

// ---- { Scroll Bar Design } ---- Start
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #BFBFBF;
}

::-webkit-scrollbar-thumb:hover {
    background: #6c757d;
}

// ---- { Scroll Bar Design } ---- End